body{
    margin: 0px;
    font-family: 'Noto Serif', serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.highlight{
    color: crimson;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-img{
    padding-top: 210px;
}
.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 600px;
    padding-bottom: 300px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}
.link-button:hover {
    opacity: 0.7;
    color: GreenYellow;
}
.biography-area{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.biography{
    padding-top: 330px;
}
.demo-work{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 60px;
}
.demo-work h3{
    padding: 60px;
}
.demo-work img{
    width: 25%;
    float: left;
    margin-left: 3%;
    padding-left: 3%;
}
.footer-part{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    text-align: center;
}
.footer-part h3{
    padding-bottom: 50px;
}
.footer-part h5 span{
    font-weight: normal;
    color: lightslategrey;
}
.contact-area{
    width: 650px;
    color: white;
    background-color: darksalmon;
    margin-left: 28%;
    margin-top: 100px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 11px 11px 35px gray;   
}
.social-icon{
    width: 10%;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
}
  
.fa-google {
    background: #dd4b39;
    color: white;
    border-radius: 50%;
}
  
.fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 50%;
}
.social-icon{
    width: 20%;
    float: left;
    position: relative;
    margin-left: 40%;
    margin-top: 13%;
    border-radius: 5px;
}
.social-icon h5{
   margin-top: 5px;
}
footer p{
    text-align: left;
    margin-top: 380px;
    border-top: 2px dashed #C0C0C0;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 20px;
}